/* TESTE DE REFERÊNCIA - CSS TOSCO */
* {
  background-color: #000000 !important;
  color: #ff0000 !important;
  font-size: 30px !important;
  font-family: sans-serif !important;
}

body {
  background-color: #000000 !important;
  color: #ff0000 !important;
  padding: 20px !important;
}

a, h1, h2, h3, p, div, span, label, input {
  color: #ff0000 !important;
  background-color: #000000 !important;
}
